*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

body{
    overflow: hidden;
    min-height: 300vh;
}

.main-width{
    width: 90%;
    max-width: 110%;
    margin: 0 auto;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#f2c924,20%, #d76c6c);
    position: relative;
}

.hero header .logo img{
    display: block;
}

.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
    font-weight: 100;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}

nav ul li.active a{
    border-bottom: 2px solid white;
}

section{
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
}

.mainHeaading{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    text-decoration: underline;
    font-family: 'Mitr', sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 250px;
    height: 250px;
    position: relative;
    margin-top: 10px;
}

.teaamPic img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.text{
    position: absolute;
    bottom: 0;
    text-align: center;
    background: black;
    width: 250px;
    overflow: hidden;
    color: white;
    display: none;
}

.text h1{
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.text h4{
    font-family: 'Mitr', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.teaamPic img:hover{
    filter: none;
    cursor: pointer;
}

.teaamPic:hover ~ .text{
    display: block;
}